{% extends "manabe/template.html" %}
{% load staticfiles %}
{% block title %} 新建发布单 {% endblock %}

{% block content %}
<form action="" method="post" class="form form-horizontal" id="demoform-1">
    {% csrf_token %}
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.name.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" id="name" disabled="disabled" class="input-text" placeholder="自动生成">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.description.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.description }}
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.app_name.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.app_name }}
            {% for error in form.app_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.branch_build.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.branch_build }}
            {% for error in form.branch_build.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="submit" value="提交">
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}