{% extends "manabe/template.html" %}

{% load staticfiles %}
{% block title %} 部署服务器列表 {% endblock %}

{% block content %}
<div>
    <span class="l">
        请仔细确认发布信息：
        <span class="label label-primary radius">
            {{ app_name }}
        </span>
        <span class="label label-primary radius">
            {{ deploy_version }}
        </span>
        <span class="label label-primary radius">
            {{ env }}
        </span>
        <span class="label label-primary radius">
            {% ifequal is_inc_tot  "TOT" %}
            全量部署
            {% endifequal %}
            {% ifequal is_inc_tot  "INC" %}
            增量部署
            {% endifequal %}
        </span>
        <span class="label label-primary radius">
            {% ifequal deploy_type  "deployall" %}
            程序及配置
            {% endifequal %}
            {% ifequal deploy_type  "deploypkg" %}
            程序
            {% endifequal %}
            {% ifequal deploy_type  "deploycfg" %}
            配置
            {% endifequal %}
        </span>
    </span>

</div>
<br/>
<br/>
<form  action="" method="post" name="serverForm" id="serverForm">
    <table class="table table-border table-bordered table-bg">
        <thead>
        <th>
            <input type="checkbox" name="SelectAllServer">
            salt_name
        </th>
        <th>
            ip地址
        </th>
        <th>
            端口
        </th>
        <th>
            APP
        </th>
        <th>
            环境
        </th>
        <th>
            当前版本
        </th>
        <th>
            发布状态
        </th>
        <th>
            用户
        </th>
        <th>
            时间
        </th>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr class="text-l">
            <td>
                <input type="checkbox" name="serverSelect" value="{{ item.id }}">
                {{item.salt_name}}
            </td>
            <td>{{item.ip_address}}</td>
            <td>{{item.port}}</td>
            <td>{{item.app_name}}</td>
            <td>
                {{item.env_name}}
            </td>
            <td>
                {% ifequal deploy_version item.history_deploy|slice:"0:18" %}
                <span class="label label-success radius">
                {% else %}
                <span class="label label-danger radius">
                {% endifequal %}
                {{ item.history_deploy|slice:"0:18"}}
                </span>
            </td>
            <td>{{item.deploy_status}}</td>
            <td>
                {{item.op_user}}
            </td>
            <td>{{item.change_date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    {% if is_right %}
    <div class="text-l">
        <input type="text" name="operation_type"  value="deploy" hidden/>
        <input type="text" name="deploy_version"  value="{{ deploy_version }}" hidden/>
        <input type="text" name="env"  value="{{ env }}" hidden/>
        <input type="text" name="app_name"  value="{{ app_name }}" hidden/>
        <span class="select-box inline l">
            <select class="select" name="sp_type" id="sp_select" onChange="getParallelOptions(this.value)">
                <option selected value="serial_deploy">串行</option>
                <option value="parallel_deploy">并行</option>
            </select>
        </span>
        <span class="select-box inline l">
            <select class="select" name="is-restart-server" id="is-restart-server" >
                {% ifequal is_restart_status  True %}
                    <option selected="true"   value="restart">重启服务</option>
                    <option value="norestart" >禁止重启</option>
                {% endifequal %}

                {% ifequal is_restart_status  False %}
                    <option  selected="true" value="norestart" >禁止重启</option>
                    <option  value="restart">重启服务</option>
                {% endifequal %}
            </select>
        </span>
        <span class="select-box inline l">
            <select class="select" name="deploy_type" id="deploy_type" >
                {% ifequal deploy_type  "deployall" %} selected="true"
                    <option selected="true"  value="deployall">发布所有</option>
                {% endifequal %}
                {% ifequal deploy_type  "deploypkg" %} selected="true"
                        <option selected="true"  value="deploypkg">发布程序</option>
                {% endifequal %}
                {% ifequal deploy_type  "deploycfg" %} selected="true"
                        <option selected="true"  value="deploycfg">发布配置</option>
                {% endifequal %}

                <option value="rollback">回滚</option>
            </select>
        </span>
        <span >
            <button class="btn btn-danger radius" id="btn-deploy">立即部署</button>
        </span>
    </div>
    {% else %}
    <div class="Huialert Huialert-error"><i class="Hui-iconfont">&#xe6a6;</i>
        你没有{{ app_name }}的{{ env }}环境的发布权限，请联系管理员：{{ admin_user }}
    </div>
    {% endif %}
</form>
{# pagination #}
<div class="text-r">
    <ul>
        {% if page_obj.has_previous %}
           <a href="{{current_url}}page={{ page_obj.previous_page_number }}" class="btn btn-primary-outline radius">上一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">上一页</a></li>
        {% endif %}
        <a href="#" >
            <span class="label label-primary radius">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
        </a>
        {% if page_obj.has_next %}
         <a href="{{current_url}}page={{ page_obj.next_page_number }}" class="btn btn-primary-outline radius">下一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">下一页</a></li>
        {% endif %}
    </ul>
</div>
<style>
#deploylogout{
    padding:10px;
    background-color:#3399CC;
    color:#FFFFFF;
    width:820px;
    height:460px;
    border-radius:5px;
    display:none;
    position: absolute;
    top:22%;
    left:50%;
    margin-left:-300px;
    margin-top:-150px;
}
</style>
<div id="deploylogout">
    日志输出：
    <span class="uk-float-right">
            <button  id="close_deploylogout" class="btn btn-info" onclick="document.getElementById('deploylogout').style.display='none'">关闭</button>
    </span>
    <iframe id="iframe_log"  src="" width="800px" height="400"></iframe>
</div>
{% endblock %}

{% block script %}
    <script>
    {% include "deploy/deploy.js" %}
    </script>
{% endblock %}