{% extends "manabe/template.html" %}

{% load staticfiles %}
{% block title %} 发布单列表 {% endblock %}

{% block content %}
<div>

    <span class="select-box inline r">
        {% include "manabe/filter.html" %}
        <button class="btn btn-success filter_btn" type="submit">过滤</button>
        {% include "manabe/search.html" %}
    </span>
</div>
<br/>
<br/>

<table class="table table-border table-bordered table-bg">
    <thead>
    <th>
        发布单名称
    </th>
    <th>
        所属APP
    </th>
    <th>
        部署类型
    </th>
    <th>
        环境
    </th>
    <th>
        状态
    </th>
    <th>
        操作
    </th>
    <th>
        用户
    </th>
    <th>
        时间
    </th>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr class="text-l">
        <td>
            <span data-toggle="tooltip" data-placement="bottom" title="{{item.description}}">
                <a href="{% url 'deploy:detail' pk=item.id %}">
                    {{item.name}}
                </a>
            </span>

        </td>
        <td>{{item.app_name}}</td>
        <td>
            {{item.deploy_type}}
        </td>
        <td>
            {{item.env_name}}
        </td>
        <td>
            {% ifequal item.deploy_status "Finish" %}
                <span class="label label-success radius">
                发布完成
                </span>
            {% endifequal %}
            {% ifequal item.deploy_status "Ing" %}
                <span class="label label-warning radius">
                发布中...
                </span>
            {% endifequal %}
            {% ifequal item.deploy_status "Ready" %}
                <span class="label label-primary radius">
                准备发布
                </span>
            {% endifequal %}
            {% ifequal item.deploy_status "Exception" %}
                <span class="label label-danger radius">
                发布异常
                </span>
            {% endifequal %}
        </td>
        <td>
            <a href="{% url 'deploy:deploy' app_name=item.app_name deploy_version=item.name env=item.env_name%}">
                <button id="deployBtn" class="btn btn-primary-outline radius" >
                    部署
                </button>
            </a>
        </td>
        <td>
            {{item.create_user}}
        </td>
        <td>{{item.change_date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
{# pagination #}
<div class="text-r">
    <ul>
        {% if page_obj.has_previous %}
           <a href="{{current_url}}page={{ page_obj.previous_page_number }}" class="btn btn-primary-outline radius">上一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">上一页</a></li>
        {% endif %}
        <a href="#" >
            <span class="label label-primary radius">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
        </a>
        {% if page_obj.has_next %}
         <a href="{{current_url}}page={{ page_obj.next_page_number }}" class="btn btn-primary-outline radius">下一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">下一页</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
$(".search_btn").click(function(){
    var search_pk = $("input[name='search_pk']").val() || "demo";
    if (search_pk == "demo") {
        $.Huimodalalert('<span class="c-error">亲，请输入关键字再进行搜索！</span>',3000);
        return false;
    }
    search_pk = search_pk.replace(/(^\s*)|(\s*$)/g, "");
    var url = "{% url 'deploy:publish' %}?search_pk=" + search_pk
    console.log(url)
    location.href = url
});

$(".filter_btn").click(function(){
    var filter_app_name = $("select[name='App_name']").val();
    console.log(filter_app_name);
    if (filter_app_name.length == 0) {
        $.Huimodalalert('<span class="c-error">亲，请选择组件再过滤！</span>',3000);
        return false;
    } else {
        var url = "{% url 'deploy:publish' %}?app_name="+ filter_app_name;
    }
    console.log(url)
    location.href = url
});
</script>

{% endblock %}