[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = {path = "./Twisted-18.7.0-cp36-cp36m-win_amd64.whl"}
channels = "*"

[dev-packages]

[requires]
python_version = "3.6"
