asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
autobahn==18.10.1
Automat==0.7.0
certifi==2018.8.13
cffi==1.11.5
channels==2.1.4
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
daphne==2.2.2
Django==2.1
django-cors-headers==2.4.0
djangorestframework==3.9.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
multi-key-dict==2.0.3
pbr==4.2.0
pipenv==2018.7.1
pycparser==2.18
PyHamcrest==1.9.0
PyMySQL==0.9.2
pypiwin32==223
python-gitlab==1.6.0
python-jenkins==1.2.1
pytz==2018.5
pywin32==224
requests==2.19.1
six==1.11.0
Twisted==18.9.0
txaio==18.8.1
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
zope.interface==4.5.0
