{% extends "manabe/template.html" %}
{% load staticfiles %}
{% block title %} 权限管理列表 {% endblock %}

{% block ext-css %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/zTree/css/zTreeStyle/zTreeStyle.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/select2/css/select2.min.css' %}" />
{% endblock %}

{% block ext-jss %}
<script type="text/javascript" src="{% static 'lib/zTree/js/jquery.ztree.all.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/select2/js/select2.full.min.js'%}"></script>
{% endblock %}

{% block content %}


<div class="pos-a" style="width:250px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5">
    <ul id="treeDemo" class="ztree">
    </ul>
</div>
<div style="margin-left:250px;">
    <iframe src="{% url 'rightadmin:default' %}" name="myFrame" style="width:650px; height:400px; "></iframe>
</div>




{% endblock %}

{% block script %}
<script type="text/javascript">
    {% include "rightadmin/rightadmin.js" %}
</script>
{% endblock %}
