{% extends "accounts/template.html" %}
{% load staticfiles %}

{% block title %}密码重置完成{% endblock %}

{% block content %}
<div class="row cl">
  <label class="form-label col-xs-3"></label>
<div class="formControls col-xs-8">
    <h3>密码已更改！</h3>
</div>
</div>
<div class="row cl">
    <label class="form-label col-xs-3"></label>
    <div class="formControls col-xs-8">
         <p>你已完成密码更改，请继续登陆。</p>
    </div>
</div>
<div class="row cl text-c">
  <label class="form-label col-xs-3"></label>
  <div class="formControls col-xs-8">
    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登陆窗口</a>
    </div>
</div>
{% endblock %}