{% extends "accounts/template.html" %}
{% load staticfiles %}
{% block title %} Manabe-重置密码 {% endblock %}

{% block content %}
  <form class="form form-horizontal" action="" method="post">
	{% csrf_token %}
      <div class="row cl">
          <label class="form-label col-xs-3"></label>
		<div class="formControls col-xs-8">
			<h3>重置密码</h3>
		</div>
      </div>
        <div class="row cl">
            <label class="form-label col-xs-3"></label>
            <div class="formControls col-xs-8">
                 <p>输入你的Email地址，将会发布一个密码重置链接到你的邮箱里。</p>
            </div>
        </div>
        <div class="row cl ">
            <label class="form-label col-xs-3"></label>
            <div class="formControls col-xs-8">
                <input type="email" class="input-text size-L" name="email" maxlength="254" required id="id_email">
            </div>
        </div>
        <div class="row cl text-c">
          <input type="submit" name="reset" class="btn btn-success radius size-L" value="发送密码重置链接到邮箱" />
        </div>
  </form>

{% endblock %}