{% extends "manabe/template.html" %}

{% load staticfiles %}
{% block title %} 应用统计 {% endblock %}

{% block content %}
<table class="table table-border table-bordered table-bg">
    <thead>
        <tr>
            <th scope="col" colspan="7">APP应用统计</th>
        </tr>
    <tbody>
        <tr class="text-c">
            <td>
                <div id="main_app" style="height:200px;"></div>
            </td>
        </tr>
    </tbody>
</table>
<br/>
{% endblock %}
{% block ext-jss %}
<script type="text/javascript" src="{% static 'lib/echarts/echarts.min.js'%}"></script>
<script type="text/javascript">
{% include "deploy/report.js" %}
</script>
{% endblock %}