{% extends "manabe/template.html" %}
{% load staticfiles %}
{% block title %} 发布单详情 {% endblock %}

{% block content %}
<table class="table table-border table-bordered radius">
    <tbody>
    <tr>
        <td>名称</td>
        <td>{{object}}</td>
    </tr>
    <tr>
        <td>所属APP</td>
        <td>{{object.app_name}}</td>
    </tr>
    <tr>
        <td>Git Branch</td>
        <td>{{object.branch_build }}</td>
    </tr>
    <tr>
        <td>Jenkins No</td>
        <td>{{object.jenkins_number }}</td>
    </tr>
    <tr>
        <td>部署类型</td>
        <td>{{object.deploy_type }}</td>
    </tr>
    <tr>
        <td>最近操作用户</td>
        <td>{{object.create_user}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}