{% extends "manabe/template.html" %}
{% load staticfiles %}
{% block title %} 应用编辑 {% endblock %}

{% block content %}
<form action="" method="post" class="form form-horizontal" id="demoform-1">
    {% csrf_token %}
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.name.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.name }}
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.description.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.description }}
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.jenkins_job.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.jenkins_job }}
            {% for error in form.jenkins_job.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.package_name.label_tag }}：</label>
        <div class="formControls col-xs-8 col-sm-9">
            {{ form.package_name }}
            {% for error in form.package_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">{{ form.is_restart_status.label_tag }}：</label>
        <div class="formControls skin-minimal col-xs-8 col-sm-9">
            {{ form.is_restart_status }}
            {% for error in form.is_restart_status.errors %}
                <span >{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" type="submit" value="提交">
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}