{% load staticfiles %}
<!--_header 作为公共模版分离出去-->
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl">
		<a class="logo navbar-logo f-l mr-10 hidden-xs" href="{% url 'index' %}">Manabe</a>

			<span class="logo navbar-slogan f-l mr-10 hidden-xs"><img src="{% static 'favicon.ico' %}" height="20" width="20" /> </span>
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 快捷操作 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="{% url 'deploy:create' %}">新建发布单</a></li>
							<li><a href="{% url 'envx:list' %}">环境流转</a></li>
							<li><a href="{% url 'deploy:publish' %}">发布</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					{% if user.is_authenticated %}
					<li>{{ user.last_name }}{{ user.first_name }}</li>
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">{{ user }}<i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="{% url 'change_password' %}">更改密码</a></li>
							<li><a href="{% url 'change_email' %}">更改邮箱</a></li>
							<li><a href="{% url 'change_token' %}">查看Token</a></li>
							<li><a href="{% url 'logout' %}">退出</a></li>
						</ul>
					</li>
					{% else %}
					<li class="">
						<a href="">登录</a>
					</li>
					{% endif %}
					<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
							<li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</div>
</header>
<!--/_header 作为公共模版分离出去-->