{% extends "manabe/template.html" %}

{% load staticfiles %}
{% block title %} 环境流转 {% endblock %}

{% block content %}
<div>
    <span class="l">

    </span>
    <span class="select-box inline r">
        <select name="" class="select">
            <option value="0">全部分类</option>
            <option value="1">分类一</option>
            <option value="2">分类二</option>
        </select>
        <button name="" id="" class="btn btn-success" type="submit">过滤</button>
        <input type="text" name="" id="" placeholder=" 名称" style="width:250px" class="input-text">
        <button name="" id="" class="btn btn-success" type="submit">搜索</button>
    </span>
</div>
<br/>
<br/>
<form action="{% url 'envx:change' %}" method="post" name="envForm" id="envForm">
    {% csrf_token %}
    <div>
        <span class="select-box inline l">
            <select name="envSelect" id="envSelect" class="select">

            </select>
            <button  class="btn btn-danger " id="envChange" >环境流转</button>

        </span>
    </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <th>
            发布单名称
        </th>
        <th>
            所属APP
        </th>
        <th>
            Git Branch
        </th>
        <th>
            环境
        </th>
        <th>
            用户
        </th>
        <th>
            时间
        </th>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr class="text-l">
                <td><input type="checkbox" name="serverSelect" value="{{ item.id }}">
                    <span data-toggle="tooltip" data-placement="bottom" title="{{item.description}}">
                        <a href="{% url 'deploy:detail' pk=item.id %}">
                            {{item.name}}
                        </a>
                    </span>

                </td>
                <td>{{item.app_name}}</td>
                <td>
                    {{item.branch_build}}
                </td>
                <td>
                    {{item.env_name}}
                </td>
                <td>
                    {{item.create_user}}
                </td>
                <td>{{item.change_date}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
</form>
<br/>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">确认对话框</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				<p>将发布单转换到<span id="selectEnv"></span>环境？</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="changeEnvModal">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
			</div>
		</div>
	</div>
</div>
{# pagination #}
<div class="text-r">
    <ul>
        {% if page_obj.has_previous %}
           <a href="{{current_url}}page={{ page_obj.previous_page_number }}" class="btn btn-primary-outline radius">上一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">上一页</a></li>
        {% endif %}
        <a href="#" >
            <span class="label label-primary radius">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
        </a>
        {% if page_obj.has_next %}
         <a href="{{current_url}}page={{ page_obj.next_page_number }}" class="btn btn-primary-outline radius">下一页</a></li>
        {% else %}
           <a href="" class="btn btn-primary-outline radius">下一页</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
    {% include "envx/envx.js" %}
</script>
{% endblock %}